certifi==2018.4.16
chardet==3.0.4
idna==2.7
pbr==4.1.1
pkginfo==1.4.2
psutil==5.4.6
python-iptables==0.13.0
PyYAML==4.2b4
requests==2.21.0
requests-toolbelt==0.8.0
six==1.11.0
stevedore==1.29.0
toml==0.9.4
tqdm==4.23.4
twine==1.11.0
urllib3==1.23
